.Title{
    position: fixed;
    width: 116px;
    height: 57px;
    left: 40px;
    top: 26px;    
}

.W{
position: fixed;
width: 19px;
height: 15px;
left: 48px;
top: 68px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
}

.G{
    position: fixed;
width: 26px;
height: 15px;
left: 90px;
top: 68px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
}

.A{
    position: fixed;
width: 38px;
height: 15px;
left: 130px;
top: 68px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;

}